<div class="px-3 item">
    <h5 class="pt-2">{{Album.album}}</h5>
    <p class="mb-2">{{Album.artist}} — {{Album.Year}}</p>
    <div class="border-bottom border-white pb-2 mb-2">
        <button type="button" class="btn btn-sm btn-nx-completed" id="{{this.id}}" data-page="music" data-site="sidebar">Listened
            to</button>
        <button type="button" class="btn btn-sm btn-nx-remove" id="{{this.id}}" data-page="music" data-site="sidebar">Remove</button></td>
    </div>
</div>