<div class="row">
    <div class="col-12">
        <div class="table-responsive mt-3" id="database">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Album</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Year</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each albums}}
                    <tr>
                        <th scope="row">{{this.rank}}</th>
                        <td>{{this.album}}</td>
                        <td>{{this.artist}}</td>
                        <td>{{this.Year}}</td>
                        <td id="btn-row">
                            <button type="image" class="btn btn-sm btn-amazon-music mr-2" data-page="music" id="{{this.id}}"
                                data-album="{{this.album}}" data-artist = "{{this.artist}}"><i class="fab fa-amazon"></i></button>
                            <button type="button" class="btn btn-sm btn-nextup" data-page="music" id="{{this.id}}">NextUp</button>
                            <button type="button" class="btn btn-sm btn-completed" data-page="music" id="{{this.id}}">Finished</button>
                            <button type="button" class="btn btn-sm btn-remove" data-page="music" id="{{this.id}}">Remove</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>