<div class="row">
    <div class="col-12">
        <div class="table-responsive" id="database">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Album</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Year</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each albums}}
                    <tr>
                        <th scope="row">{{Album.rank}}</th>
                        <td>{{Album.album}}</td>
                        <td>{{Album.artist}}</td>
                        <td>{{Album.Year}}</td>
                        <td id="btn-row"><button type="button" class="btn btn-sm btn-nextup" data-page="music" id="{{this.id}}">NextUp</button>
                            <button type="button" class="btn btn-sm btn-completed" data-page="music" id="{{this.id}}">Listened
                                to</button>
                            <button type="button" class="btn btn-sm btn-remove" data-page="music" id="{{this.id}}">Remove</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>