{{!-- Three vertical sections --}}

<body id="dash-pg">
    <div class="container mt-5 mb-4" id="dash-container">
        <div class="row">
            {{!-- Explanation text for using the database --}}
            <div class="col-12 px-0">
                <div class="accordion" id="current-view">
                    <div class="card border-0">
                        <div class="card-header border-0" id="headingOne">
                            <button class="btn btn-link text-dark font-weight-bold p-0" id="btn-accordion" type="button"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-chevron-circle-down"></i>&nbsp&nbspHow to Use NextUp
                            </button>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#current-view">
                            <div class="card-body px-0 pb-0">
                                <h5>Our Lists</h5>
                                NextUp's lists combine rankings from several different sources to give you the best
                                best-of lists we could find.
                                Choose from:
                                <ul>
                                    <li>3,000 albums</li>
                                    <li>1,200 movies</li>
                                    <li>1,000 books</li>
                                </ul>
                                <p class="small">Special thanks to Acclaimed Music, Owen Temple and Joel Patrick for
                                    making their combined rankings available.
                                </p>

                                <h5>Customizing Your Lists</h5>
                                <p>Use these buttons to customize your lists</p>
                                <ul>
                                    <li><strong>NextUp:</strong> Adds the item to your NextUp list so you know you
                                        want to enjoy it in the future.
                                    </li>
                                    <li><strong>Finished:</strong> Marks the album as finished; you can look
                                        up the
                                        items
                                        you've finished whenever you want.
                                    </li>
                                    <li><strong>Remove:</strong> Only select this if you haven't finished this
                                        item and
                                        know
                                        you never want to. It will be permanently deleted from your lists.
                                    </li>
                                </ul>
                                <h5>Views Available</h5>
                                <ul>
                                    <li><strong>Remaining:</strong> Shows the items in the list that you have yet to
                                        interact with.</strong></li>
                                    <li><strong>NextUp:</strong> Items you want to enjoy. You can also
                                        see your next few items in the sidebar on the right.</li>
                                    <li><strong>Finished:</strong> Items from the list you've already
                                        finished.</li>
                                    <li><strong>Search/Full database:</strong> Search the database for a particular item. You'll also see all items in the database,
                                        including ones you previously removed. <em>Note: This list does not include any
                                            customizing
                                            you may have done.</em></li>
                                    <li><strong>My Added:</strong> See all the items you've added yourself.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            {{!-- Music column - data from database coming in --}}
            <div class="col-12 col-md-4" id="music-col">
                <div class="row mt-2">
                    <div class="col-auto">
                        <h4 class="">Music NextUp</h4>
                    </div>
                    <div class="col-auto pl-1">
                    <a href="/music/nextup" class="small">&nbsp&nbsp&nbspYour full NextUp list</a>
                    </div>
                </div>
                <hr class="my-1">
                {{#each albums}}
                <div class="item">
                    <h6 class="pt-1 item">{{Album.album}}</h6>
                    <p class="mb-1" id="subline">{{Album.artist}} — {{Album.Year}}</p>
                    <div class="border-bottom border-white pb-1 mb-1">
                        {{!-- Button to mark as finished --}}
                        <button type="button" class="btn btn-sm btn-completed" id="{{this.item}}" data-page="music"
                            data-site="sidebar">Finished</button>
                        {{!-- Button to remove --}}
                        <button type="button" class="btn btn-sm ml-2 btn-remove" id="{{this.item}}" data-page="music"
                            data-site="sidebar">Remove</button>
                    </div>
                </div>
                {{/each}}

                {{!-- Link to music page - helpful especially if there is no data yet --}}
                <p><strong><a href="/music">Find more albums</strong></a> to add to your NextUp</p>
            </div>

            {{!-- Movie column --}}
            <div class="col-12 col-md-4" id="movies-col">
                <div class="row mt-2">
                    <div class="col-auto">
                        <h4 class="">Movies NextUp</h4>
                    </div>
                    <div class="col-auto pl-1">
                    <a href="/movies/nextup" class="small">&nbsp&nbsp&nbspYour full NextUp list</a>
                    </div>
                </div>
                <hr class="my-1">
                {{#each movies}}
                <div class="item">
                    <h6 class="pt-1 item">{{Movie.title}}</h6>
                    <p class="mb-1" id="subline">{{Movie.year}} — {{Movie.rating}}</p>
                    <div class="border-bottom border-white pb-1 mb-1">
                        {{!-- Button to mark as finished --}}
                        <button type="button" class="btn btn-sm btn-completed" id="{{this.item}}" data-page="movies"
                            data-site="sidebar">Finished</button>
                        {{!-- Button to remove --}}
                        <button type="button" class="btn btn-sm ml-2 btn-remove" id="{{this.item}}" data-page="movies"
                            data-site="sidebar">Remove</button>
                    </div>
                </div>
                {{/each}}

                {{!-- Link to movies page - helpful especially if there is no data yet --}}
                <p><strong><a href="/movies">Find more movies</strong></a> to add to your NextUp</p>
            </div>

            {{!-- Books column --}}
            <div class="col-12 col-md-4" id="books-col">
                <div class="row mt-2">
                    <div class="col-auto">
                        <h4 class="">Books NextUp</h4>
                    </div>
                    <div class="col-auto pl-1">
                    <a href="/books/nextup" class="small">&nbsp&nbsp&nbspYour full NextUp list</a>
                    </div>
                </div>
                <hr class="my-1">
                {{#each books}}
                <div class="item">
                    <h6 class="pt-1 item">{{Book.title}}</h6>
                    <p class="mb-1" id="subline">{{Book.author}}</p>
                    <div class="border-bottom border-white pb-1 mb-1">
                        {{!-- Button to mark as finished --}}
                        <button type="button" class="btn btn-sm btn-completed" id="{{this.item}}" data-page="books"
                            data-site="sidebar">Finished</button>
                        {{!-- Button to remove --}}
                        <button type="button" class="btn btn-sm ml-2 btn-remove" id="{{this.item}}" data-page="books"
                            data-site="sidebar">Remove</button>
                    </div>
                </div>
                {{/each}}

                {{!-- Link to books page - helpful especially if there is no data yet --}}
                <p><strong><a href="/books">Find more books</strong></a> to add to your NextUp</p>
            </div>
        </div>
    </div>
</body>