<body data-content="movies">
    <div class="container-fluid" id="big-container">
        <div class="row align-items-start my-5">
            <div class="col-12 col-md-9">
                {{!-- View button --}}
                <div class="dropdown">
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <h5>Remaining movies</h5>
                            <div class="small">
                                * The highest-ranked 50 movies that you haven't interacted with yet.
                            </div>
                        </div>
                        <div class="col col-md-2">
                            {{!-- View button --}}
                            {{> all/view-toggle}}
                        </div>
                    </div>
                </div>
                {{!-- Database flows in here --}}
                <div class="row">
    <div class="col-12">
        <div class="table-responsive mt-3" id="database">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Title</th>
                        <th scope="col">Year</th>
                        <th scope="col">Rating</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each movies}}
                    <tr>
                        <th scope="row">{{this.rank}}</th>
                        <td>{{this.title}}</td>
                        <td>{{this.year}}</td>
                        <td>{{this.rating}}</td>
                        <td id="btn-row"><button type="button" class="btn btn-sm btn-nextup" data-page="movies" id="{{this.id}}">NextUp</button>
                            <button type="button" class="btn btn-sm btn-completed" data-page="movies" id="{{this.id}}">Finished</button>
                            <button type="button" class="btn btn-sm btn-remove" data-page="movies" id="{{this.id}}">Remove</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
                <button type="button" class="btn btn-sm" id="refresh">Refresh List</button>
            </div>
        </div>
    </div>
    {{!-- NextUp list - right sidebar --}}
    {{> movies/sidebar}}
        
        <p class="pl-3 py-1">Go here to see your<a href="movies/nextup"><strong> full list of
                    NextUp movies</strong></a>.</p>
    </div>
    </div>
    </div>
</body>