<body data-content="music">
    <div class="container-fluid" id="big-container">
        <div class="row my-5">
            <div class="col-12">
                {{!-- View button --}}
                <div class="dropdown mb-3">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>NextUp</h5>
                            <div class="small">
                                * This view shows every album you've marked for NextUp.
                            </div>
                        </div>
                        <div class="col-md-2">
                            {{!-- View button --}}
                            {{> all/view-toggle}}
                        </div>
                    </div>
                </div>
                {{!-- Database data flows in here--}}
                <div class="table-responsive mt-3" id="database">
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-1">Rank</th>
                                <th scope="col" class="col-4">Album</th>
                                <th scope="col" class="col-4">Artist</th>
                                <th scope="col" class="col-1">Year</th>
                                <th scope="col" class="col-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each albums}}
                            <tr class="d-flex">
                                <th scope="row" class="col-1">{{Album.rank}}</th>
                                <td class="col-4">{{Album.album}}</td>
                                <td class="col-4">{{Album.artist}}</td>
                                <td class="col-1">{{Album.Year}}</td>
                                <td class="col-2">
                                    <button type="button" class="btn btn-sm btn-nx-completed" id="{{this.id}}"
                                        data-page="music">Listened to</button>
                                    <button type="button" class="btn btn-sm btn-nx-remove" id="{{this.id}}" data-page="music">Remove</button></td>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>