<body data-content="music">
    <div class="container-fluid" id="big-container">
        <div class="row align-items-start my-5">
            <div class="col-md-9">
                {{!-- View button --}}
                <div class="dropdown mb-3">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>Added</h5>
                            <div class="small">
                                * This view shows every album you've added but haven't interacted with yet.
                            </div>
                        </div>
                        <div class="col-md-2">
                            {{!-- View button --}}
                            {{> all/view-toggle}}
                        </div>
                    </div>
                </div>
                {{!-- Database data flows in here--}}
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive" id="database">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Album</th>
                                        <th scope="col">Artist</th>
                                        <th scope="col">Year</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each albums}}
                                    <tr>
                                        <th scope="row">{{this.album}}</th>
                                        <td>{{this.artist}}</td>
                                        <td>{{this.year}}</td>
                                        <td id="btn-row">
                                            <button type="image" class="btn btn-sm btn-amazon-music mr-2" data-page="music"
                                                id="{{this.id}}" data-album="{{this.album}}"><i class="fab fa-amazon"></i></button>
                                            <button type="button" class="btn btn-sm btn-nextup-add" data-page="music" id="{{this.id}}">NextUp</button>
                                            <button type="button" class="btn btn-sm btn-completed-add" data-page="music" id="{{this.id}}">Finished</button>
                                            <button type="button" class="btn btn-sm btn-remove-add" data-page="music" id="{{this.id}}">Remove</button></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            {{!-- NextUp list -right sidebar --}}
            {{> music/sidebar}}

            <p class="pl-3 py-1">Go here to see your<a href="/music/nextup"><strong> full list of NextUp albums</strong></a>.</p>
        </div>
    </div>
</body>