<body data-content="music">
    <div class="container-fluid" id="big-container">
        <div class="row my-5">
            <div class="col-12">
                {{!-- View button --}}
                <div class="dropdown mb-3">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>NextUp</h5>
                            <div class="small">
                                * This view shows every album you've marked for NextUp.
                            </div>
                        </div>
                        <div class="col-md-2">
                            {{!-- View button --}}
                            {{> all/view-toggle}}
                        </div>
                    </div>
                </div>
                {{!-- Database data flows in here--}}
                <div class="row">
    <div class="col-12">
        <div class="table-responsive" id="database">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Album</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Year</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each albums}}
                    <tr>
                        <th scope="row">{{Album.rank}}</th>
                        <td>{{Album.album}}</td>
                        <td>{{Album.artist}}</td>
                        <td>{{Album.Year}}</td>
                        <td id="btn-row"><button type="button" class="btn btn-sm btn-nx-completed" data-page="music" id="{{this.id}}">Finished</button>
                            <button type="button" class="btn btn-sm btn-nx-remove" data-page="music" id="{{this.id}}">Remove</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
            </div>
        </div>
    </div>
</body>