<body id="music-pg">
    <div class="container-fluid" id="big-container">
        <div class="row my-5">
            <div class="col-md-9">
                {{!-- View button --}}
                <div class="dropdown mb-3">
                    <button class="btn btn-secondary border-0 dropdown-toggle" type="button" id="db-list" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Full List
                    </button>
                    <div class="mt-1 small">
                        * This database is the master list and does not include any of your previous actions.
                    </div>
                    <div class="dropdown-menu" aria-labelledby="db-list">
                        <button class="dropdown-item" type="button" id="view-all">Remaining</a>
                            <button class="dropdown-item" type="button" id="next-up">NextUp</a>
                                <button class="dropdown-item" type="button" id="listened-to">Listened
                                    To</a>
                    </div>
                </div>
                {{!-- Database data flows in here--}}
                <div class="table-responsive mt-3" id="database">
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-1">Rank</th>
                                <th scope="col" class="col-3">Album</th>
                                <th scope="col" class="col-3">Artist</th>
                                <th scope="col" class="col-1">Year</th>
                                <th scope="col" class="col-4"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each albums}}
                            <tr class="d-flex">
                                <th scope="row" class="col-1">{{this.rank}}</th>
                                <td class="col-3">{{this.album}}</td>
                                <td class="col-3">{{this.artist}}</td>
                                <td class="col-1">{{this.Year}}</td>
                                <td class="col-4"><button type="button" class="btn btn-sm btn-nextup" data-page="music"
                                        id="{{this.id}}">NextUp</button>
                                    <button type="button" class="btn btn-sm btn-completed" data-page="music" id="{{this.id}}">Listened
                                        to</button>
                                    <button type="button" class="btn btn-sm btn-remove" data-page="music" id="{{this.id}}">Remove</button></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-sm" id="more">Show Me More</button>
                </div>
            </div>
            {{!-- NextUp list -right sidebar --}}
            <div class="col-md-3 px-0 border" id="sidebar-music">
                <h3 class="p-3" id="bar">NextUp</h3>
                {{!-- Bring in sidebar partial --}}
                {{#each dashboard}}
                {{> music/sidebar}}
                {{/each}}
            </div>
        </div>
</body>