<div class="row">
    <div class="col-12">
        <div class="table-responsive" id="database">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Title</th>
                        <th scope="col">Year</th>
                        <th scope="col">Rating</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each movies}}
                    <tr>
                        <th scope="row">{{Movie.rank}}</th>
                        <td>{{Movie.title}}</td>
                        <td>{{Movie.year}}</td>
                        <td>{{Movie.rating}}</td>
                        <td id="btn-row"><button type="button" class="btn btn-sm btn-nextup" data-page="movies" id="{{this.id}}">NextUp</button>
                            <button type="button" class="btn btn-sm btn-completed" data-page="movies" id="{{this.id}}">Watched</button>
                            <button type="button" class="btn btn-sm btn-remove" data-page="movies" id="{{this.id}}">Remove</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>